.card {
  width: 100%;
  display: flex;
  width: 70rem;
  box-shadow: 0 2px 12px #edeff0;
  border-radius: 5px;
  padding: 2rem;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  color: #303233;

  &__header {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  &__footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__title {
    color: rgb(27, 183, 255);
    font-size: 1.8rem;
  }

  &__salary {
    font-weight: 700;
    font-size: 2.5rem;
    margin-top: 1rem;
    font-size: 2rem;
  }

  &__company {
    display: flex;
    align-items: center;
    margin-top: 1rem;
  }

  &__company-name {
    font-size: 1.4rem;
    margin-bottom: 2px;
  }

  &__company-verified {
    width: 1.5rem;
    height: 1.5rem;
  }

  &__city {
    font-size: 1.4rem;
  }

  &__experience {
    color: rgb(46, 46, 46);
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    margin-top: 2rem;
  }

  &__experience-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
  }

  &__logoAndBtn {
    display: flex;
    margin-left: 2rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__btn-favorite {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0;
  }

  &__icon {
    width: 2rem;
    height: 2rem;
  }

  // object-fit
  &__logo {
    object-fit: contain;
    width: 6rem;
  }
}