.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  width: 70rem;
  box-shadow: -1px 0px 8px 0px rgba(34, 60, 80, 0.2);

  &__title {
    color: rgb(27, 183, 255);
  }

  &__salary {
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  &__city {
    color: gray;
  }

  &__experience {
    color: gray;
  }
}