.favorite {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  row-gap: 3rem;

  &__title {
    font-size: 5rem;
  }

  &__links {
    display: flex;
    font-size: 2rem;
    width: 100%;
    justify-content: flex-end;
    margin-right: 15rem;
  }

  &__link {
    text-decoration: none;
  }
}

.favoriteCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  width: 40rem;
  box-shadow: -1px 0px 8px 0px rgba(34, 60, 80, 0.2);

  &__title {
    color: rgb(27, 183, 255);
  }

  &__salary {
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  &__city {
    color: gray;
  }

  &__experience {
    color: gray;
  }
}